@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: #1DA1F2;
  color: black;
  padding: 20px;
  font-size: larger;
  font-family: 'Rubik', sans-serif;
}

main {
  display: flex;
  min-height: calc(97vh - 100px - 60px);
}

/* Form Menu */
nav {
  width: 300px;
  background-color: rgb(200, 200, 200);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: larger;
  font-family: 'Rubik', sans-serif;
}

.inbox {
  width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.add-project {
  width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

.submit-reset {
  margin-top: 20px;
}

.submit, .reset {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.inbox:hover, .add-project:hover, .submit:hover, .reset:hover {
  background-color: #1DA1F2;
}

input {
  width: 100%;
}

/* Inbox Screen */
.project-screen {
  width: 100%;
  background-color: whitesmoke;
  padding: 40px;
  display: none;
  font-family: 'Rubik', sans-serif;
}

footer {
  background-color: #1DA1F2;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  position: absolute;
  width: 100%;
}

#github {
  cursor: pointer;
}

/* Todo Cards*/
.card {
  width: 300px;
  height: 200px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.card h3 {
  font-size: 18px;
}

.card p {
  color: #1DA1F2;
}

.card p:last-of-type {
  color: rgb(240, 77, 77);
}

.card button {
  background-color: #1DA1F2;
  border: none;
  color: black;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
}
